<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <system.web>
    <globalization culture="es-AR" uiCulture="es-AR"/>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="/pagina-no-encontrada.php"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors  errorMode="Custom" existingResponse="Replace">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404"  prefixLanguageFilePath="" path="/pagina-no-encontrada.php" responseMode="ExecuteURL"/>
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
	  <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".m4r"/>
      <mimeMap fileExtension=".m4r" mimeType="audio/x-m4r"/>      
         <remove fileExtension="" />
         <mimeMap fileExtension="" mimeType="text/plain" />
      </staticContent>
      <rewrite>
         <rules>
            <clear />
            <rule name="WWW Rewrite" enabled="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTP_HOST}" negate="true" pattern="^www\.(.*)$" />
               </conditions>
               <action type="Redirect" url="http://www.{HTTP_HOST}/{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
            </rule>
            <rule name="Redirect Http to https" stopProcessing="true" enabled="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>